@font-face {
  font-family: 'Fakt Pro Bd';
  src: url('../fonts/faktpro/FaktPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/faktpro/FaktPro-Bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/faktpro/FaktPro-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/faktpro/FaktPro-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}