$app-color: #ff4444;
$app-dark-color: #cc0000;
$body-color: #f1f1f1;
$article-color: #ffffff;
$text-color: #222222;
$text-time-color: lighten($text-color, 50%);

$menu-background-color: #353533;
$menu-border-color: #1c1c1a;