$app-color: #60b637;
$app-dark-color: #60b637;
$body-color: #e0e0e0;
$article-color: #ffffff;
$text-color: #413f3c;
$text-time-color: #5fb336;

$menu-background-color: #353533;
$menu-border-color: #1c1c1a;